/target
history.txt
*.exe
*.o
selfhosted/.run_target*.s
*.py
!bench/generate.py
bench/generated
.frost-build
examples/graphics/SDL3.dll
examples/graphics/SDL3.lib
examples/graphics/window
examples/graphics/wgpu/
examples/graphics/wgpu_native.dll
examples/graphics/triangle
examples/graphics/*.png
examples/graphics/*.exe
tools/*.exe
examples/graphics/wgpu.frost
